[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-environ = "*"
python-dotenv = '*'
sentry-sdk = "*"
django-tailwind = "*"
markdown = "*"
djangorestframework = "*"
pillow = "*"
django-multiselectfield = "*"
django-model-utils = "*"

[dev-packages]

[requires]
python_version = "3.9"
